{% extends 'base.html' %}

{% block content %}

<h1>Sunday Readings</h1>

<h2>Vespers Gospel</h2>
<p>
    {{ves|safe}}
</p>

<h4 class="text-primary">
    <b>
        REFLECTION
    </b>
</h4>
<p class="alert alert-primary" style="background-color:white;border-width:2px;">
<br />
<br />
<br />
<br />
<br />
<br />
</p>

<h2>Matins Gospel</h2>
<p>
    {{mat|safe}}
</p>

<h4 class="text-primary">
    <b>
        REFLECTION
    </b>
</h4>
<p class="alert alert-primary" style="background-color:white;border-width:2px;">
<br />
<br />
<br />
<br />
<br />
<br />
</p>

<h2>Pauline Epistle</h2>
<p>
    {{paul|safe}}
</p>

<h4 class="text-primary">
    <b>
        REFLECTION
    </b>
</h4>
<p class="alert alert-primary" style="background-color:white;border-width:2px;">
<br />
<br />
<br />
<br />
<br />
<br />
</p>

<h2>Catholic Epistle</h2>
<p>
    {{cath|safe}}
</p>

<h4 class="text-primary">
    <b>
        REFLECTION
    </b>
</h4>
<p class="alert alert-primary" style="background-color:white;border-width:2px;">
<br />
<br />
<br />
<br />
<br />
<br />
</p>

<h2>Acts</h2>
<p>
    {{acts|safe}}
</p>

<h4 class="text-primary">
    <b>
        REFLECTION
    </b>
</h4>
<p class="alert alert-primary" style="background-color:white;border-width:2px;">
<br />
<br />
<br />
<br />
<br />
<br />
</p>

<h2>Synxarium</h2>
<p>
    {{synx|safe}}
</p>

<h4 class="text-primary">
    <b>
        REFLECTION
    </b>
</h4>
<p class="alert alert-primary" style="background-color:white;border-width:2px;">
<br />
<br />
<br />
<br />
<br />
<br />
</p>

<h2>Gospel</h2>
<p>
    {{gos|safe}}
</p>

<h4 class="text-primary">
    <b>
        REFLECTION
    </b>
</h4>
<p class="alert alert-primary" style="background-color:white;border-width:2px;">
<br />
<br />
<br />
<br />
<br />
<br />
</p>

{% endblock %}